extends docwrapper

block title
    | #{PageTitle}

block content

    header.mui-panel(role="banner")
        h1.mui-text-center Hello world!

    main.mui-container
        br

        form.mui-panel(
            role="form"
            action="#"
            )
            leyend Welcome!
                .mui-form-group
                    input(
                        type="text" 
                        class="mui-form-control" 
                        placeholder="User"
                        )            

                .mui-form-group
                    input(
                        type="password" 
                        class="mui-form-control" 
                        placeholder="Password"
                        )

                button(
                    type="button" 
                    class="mui-text-center mui-btn mui-btn-primary mui-btn-lg mui-btn-block"
                    onclick="location.href = 'search.html'"
                    ) login