extends docwrapper

block title
    | #{PageTitle}

block body
    body.p-search

    block content

        header.mui-panel(role="banner")
            h1.mui-text-center Search Page ;-)

        main.mui-container
            ul.list
             each val, key in values.length ? values : ['There are no values']
                li.mui-panel
                    h3= key
                        |  - 
                        strong= val 

        footer.search
            form
                input(
                    type="text" 
                    class="mui-form-control" 
                    placeholder="Search..."
                    )
                button(
                    type="button" 
                    class="mui-btn mui-btn-primary mui-btn-lg"
                    ) GO