extends docwrapper

block title
    | #{PageTitle}

block content
    
    main.m-login

        div(
            class="mdl-card mdl-card-login mdl-shadow--8dp"
            )
            div.mdl-card__title
                h2.mdl-card__title-text Login
            
            div(
                class="mdl-card__supporting-text mdl-grid"
                )
                form(action="#")
                    div(
                        class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col"
                        )
                        input.mdl-textfield__input(
                            type="text" 
                            id="username" 
                            placeholder="Username"
                            )
                        label.mdl-textfield__label(
                            for="username"
                            ) Username
                    div(
                        class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col"
                        )
                        input.mdl-textfield__input(
                            type="password" 
                            id="password" placeholder="Password"
                            )
                        label.mdl-textfield__label(
                            for="password"
                            ) Password
                            
                    div(
                        class="mdl-card__actions mdl-cell--12-col"
                        )
                        //button(
                            class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--accent" 
                            type="button"
                            ) Sign Up
                        a(
                            class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored" 
                            role="button"
                            href="search.html"
                            ) Sign In
                        button(
                            type="button"
                            class="mdl-button mdl-js-button mdl-button--icon f-right"
                            )
                            i.material-icons people
